.recovery-password-container {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.recovery {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-height: 700px; /* Đặt max-width nhỏ hơn để thu nhỏ khung nhập */
  text-align: center;
  overflow: hidden; 
}

.recovery .logoRecovery img {
    width: 100px;
}

.recovery .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.group-re input[type="email"],
.group-re input[type="text"],
.group-re input[type="password"] {
    flex: 1;
    margin-right: 10px; /* Khoảng cách giữa input và nút Send OTP */
}

.group-re button {
    width: auto; /* Để nút tự điều chỉnh chiều rộng theo nội dung */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #512da8;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.recovery .group-re {
    position: relative;
    border: none;
    margin: 8px 0;
    padding: 10px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    display: inline-block;
    display: flex;
}

.change {
    font-size: 14.5px;
    text-align: center;
    display: flex;
}

.change button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #512da8;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.loginInRegis-re h6,
.signUp-re h6{
    font-size: 14px;
    margin: 0 10px 10px 0; /* Điều chỉnh lề phía dưới và bên phải */
    display: inline-block; /* Hiển thị trên cùng một dòng */
    margin-top: 10px;
}
.loginInRegis-re button,
.signUp-re button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #512da8;
    font-weight: bold;
    cursor: pointer;
}
